#map {
    /*height : 400px;*/
    height : 100%;
    width  : 100%;
    z-index: 10;
}

.topbar {
    top         : 0;
    left        : 0;
    right       : 0;
    padding     : 0;
    margin      : 0;
    position    : absolute;
    max-width   : 800px;
    margin-right: auto;
    margin-left : auto;
    z-index     : 50;
    padding     : 12px;
    box-sizing  : border-box;
}

.searchAndLegend,
.filter {
    display  : flex;
    flex-wrap: wrap;
}

.searchAndLegend {
    justify-content: space-between;
}

.filter {
    justify-content: space-evenly;
}

/*
  If a dropdown is opened the topbar and filter element expand over a big chunk of the map
  since its located over the map (position:absolute) it blocks the user from
  clicking on map points/groups under it. With the following two rules
  the user can still click through the filter elements, but still can use items within
  the filter (e.g. dropdown and country filter)
*/
.topbar, .filter {
    pointer-events: none;
}
.searchAndLegend, .filter>* {
    pointer-events: auto;
}

/*
  below 380px, aka. when the three filters don't
  fit into one row horizontally anymore
*/
@media only screen and (max-width: 380px) {
    .filter {
        flex-direction: column;
        align-content : space-between;
        align-items   : stretch;
    }
}

.topbar .searchArea,
.topbar a {
    font-family       : franklingothic, "Helvetica Neue", Arial, Helvetica, sans-serif;
    height            : 39px;
    font-size         : 20px;
    color             : black;
    box-shadow        : 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
    -webkit-appearance: none;
    appearance        : none;
    border            : 0;
    border-radius     : 3px;
    padding           : 0 8px;
    box-sizing        : border-box;
    margin-bottom     : 4px;
}

.topbar input[type="text"] {
    font-family       : franklingothic, "Helvetica Neue", Arial, Helvetica, sans-serif;
    height            : 39px;
    font-size         : 20px;
    color             : black;
    -webkit-appearance: none;
    appearance        : none;
    border            : 0;
    border-radius     : 3px;
    padding           : 0 8px;
    box-sizing        : border-box;
    margin-bottom     : 4px;
}

.topbar input[placeholder] {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.group {
    font-family     : franklingothic, "Helvetica Neue", Arial, Helvetica, sans-serif;
    height          : 39px;
    font-size       : 20px;
    color           : lightgray;
    box-shadow      : 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
    border          : 0;
    border-radius   : 3px;
    padding         : 0 8px;
    box-sizing      : border-box;
    margin-bottom   : 4px;
    background-color: white;
    display         : flex;
    align-items     : center;
    justify-content : space-evenly;
}

.group div {
    margin-right: 10px;
}

.group div:last-child {
    margin-right: 0px;
}

.group div.active {
    color: black;
}

.topbar .searchArea {
    flex-basis: calc(100% - 30px);
    position  : relative;
    background: white;
}

.topbar input[type="text"] {
    outline: none;
    width  : calc(100% - 32px);
}

.topbar a {
    user-select     : none;
    cursor          : pointer;
    background-color: white;
    text-decoration : none;
    line-height     : 39px;
}

.topbar a.disabled {
    color: lightgray;
}

.topbar a.disabled img {
    opacity: 0.3;
}

.topbar img {
    float : left;
    height: 32px;
    width : 28px;
    margin: 3px 8px 0 0;
}

.searchbarButton {
    background: transparent;
    font-size : 20px;
    border    : 0;
}

.searchArea .searchResults {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
}

.searchResult:hover {
    background-color: black;
    color           : white;
}

.searchResult {
    font-family     : "Helvetica Neue", Arial, Helvetica, sans-serif;
    width           : 100%;
    background-color: white;
    height          : 60px;
    font-size       : 14px;
    cursor          : pointer;
    border-top      : 1px solid gray;
}

.searchResult h3 {
    font-family: franklingothic, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size  : 20px;
}

.searchResult:first-child {
    border-top: none;
}

.searchResult img {
    margin: 14px;
}

.searchResult h3 {
    margin-top   : auto;
    margin-bottom: auto;
}

.searchResult div {
    height     : 38px;
    padding-top: 10px;
}