.content {
    max-width     : 36rem;
    margin-left   : auto;
    margin-right  : auto;
    padding-left  : 2rem;
    padding-right : 2rem;
    padding-bottom: 1rem;
}

.fa-times {
    float    : right;
    font-size: 20px;
    cursor   : pointer;
}
