<div id="topbar">
  <div id="searchArea">
    <input type="text" id="searchbar" placeholder="Stadt oder Adresse eingeben..." #searchInput (keyup)="debounceSearchInput.next(searchInput.value)">
    <button id="searchbarButton" type="button">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    <div id="searchResults">
      <div class="searchResult" *ngFor="let searchResult of searchResults">
        <img src="">
        {{ searchResult.name }}
        {{ searchResult.street }}, {{ searchResult.zip }} {{ searchResult.city }}
      </div>
    </div>
  </div>
  <a title="Klick zum ein oder ausblenden.">
    <img src="/assets/img/marker/marker-icon-l.svg" />Laden
  </a>
  <a  title="Klick zum ein oder ausblenden.">
    <img src="/assets/img/marker/marker-icon-h.svg" />(Groß)Handel
  </a>
  <a title="Klick zum ein oder ausblenden.">
    <img src="/assets/img/marker/marker-icon-s.svg" />lokaler Kontakt
  </a>
  <a title="Klick zum ein oder ausblenden.">
    <img src="/assets/img/marker/marker-icon-l.svg" />Onlinehandel
  </a>
  <a>?</a>
</div>

<div id="map"></div>
