<div id="topbar">
  <input type="text" id="searchbar" placeholder="Stadt oder Adresse eingeben..." />
  <button id="searchbar-icon" type="button">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
  <a title="Klick zum ein oder ausblenden.">
    <img src="/assets/img/marker/marker-icon-l.svg" />Laden
  </a>
  <a  title="Klick zum ein oder ausblenden.">
    <img src="/assets/img/marker/marker-icon-h.svg" />(Groß)Handel
  </a>
  <a title="Klick zum ein oder ausblenden.">
    <img src="/assets/img/marker/marker-icon-s.svg" />lokaler Kontakt
  </a>
  <a title="Klick zum ein oder ausblenden.">
    <img src="/assets/img/marker/marker-icon-l.svg" />Onlinehandel
  </a>
  <a>?</a>
</div>

<div id="map"></div>
