<table *ngIf="itemList">
  <thead>
    <tr>
      <th>Name</th>
      <th>Adresse</th>
      <th>Kontakt</th>
      <th>Kontakt-Art</th>
      <th>Produkte</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemList">
      <td>{{ item.name }}</td>
      <td>{{ item.street }}, {{ item.zip }} {{ item.city }}</td>
      <td>{{ item.contact.join(', ') }}</td>
      <td>{{ item.offertypes.join(', ') }}</td>
      <td>{{ item.products.join(', ') }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!itemList">Liste wird geladen...</div>
