<app-popup>
    <h1>Impressum</h1>
    <p>
        Bitte kontaktieren Sie einer der für Ihren Bereich zuständigen
        Gebietsbetreuer/in. Eine Auflistung der Gebietsbetreuer/innen finden Sie
        hier:
    </p>
    <p>
        <a href="https://premium-kollektiv.de/kontakt/">https://premium-kollektiv.de/kontakt/</a>
    </p>
    <p>
        PREMIUM<br />
        Uwe Lübbermann<br />
        Bärenallee 40<br />
        22041 Hamburg<br />
        <small>bei Paketzusendung bitte Rücksprache, bin viel unterwegs</small>
    </p>
    <p>
        Mail: <a href="mailto:uwe@premium-kollektiv.de">uwe&#64;premium-kollektiv.de</a> (
        <a target="_blank"
            href="https://pgp.mit.edu/pks/lookup?op=get&search=0xC589D03EC67412EB">PGP-Key</a>
        )
        Twitter:
        <a target="_blank" href="https://twitter.com/luebbermann">&#64;luebbermann</a>
        <br />
        Fax: +49 (0)40 35 67 61 52<br />
        Telefon: +49 (0)172 86 58 588
    </p>
    <p>
        USt-IdNr: DE243037244 <br />
        Inhaltlich verantwortlich nach § 55 Abs. 2 RStV: Uwe Lübbermann
    </p>
    <p>
        Bio-zertifiziert für Bier und Limonaden, Öko-Kontrollstelle DE-ÖKO-006 via
        <a href="http://www.abcert.de" target="_blank">ABCERT</a>.
    </p>
    <p>
        Map data ©
        <a target="_blank" href="https://openstreetmap.org">OpenStreetMap</a>
        contributors
        <a target="_blank" href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>
        <br />
        <a target="_blank" title="A JS library for interactive maps" href="https://leafletjs.com">Leaflet</a>
        A JS library for interactive maps
    </p>
</app-popup>