<div class="imprintWrapper">
    <a (click)="navigateHome()">
        <i class="fa fa-times"></i>
    </a>
    <h1>Impressum</h1>
    <p>
        Bitte kontaktieren Sie einer der für Ihren Bereich zuständigen
        Gebietsbetreuer/in. Eine Auflistung der Gebietsbetreuer/innen finden Sie
        hier:
    </p>
    <p>
        <a href="https://www.premium-cola.de/kontakte">https://www.premium-cola.de/kontakte</a>
    </p>
    <p>
        PREMIUM <br />
        Uwe Lübbermann <br />
        Bärenallee 40 <br />
        22041 Hamburg <br />
        <small>bei Paketzusendung bitte Rücksprache, bin viel unterwegs</small>
    </p>
    <p>
        Mail: <a href="mailto:uwe@premium-cola.de">uwe@premium-cola.de</a> (
        <a target="_blank"
            href="https://www.premium-cola.de/downloads/pgp/uwe@premium-cola.de-0xC67412EB-pub.asc">PGP-Key</a>
        ) oder übers
        <a target="_blank"
            href="https://www.premium-cola.de/component/contact/47-kontakt/7-premium-kontakt">Mail-Formular</a>
        <br />
        Twitter:
        <a target="_blank" href="https://twitter.com/luebbermann">@luebbermann</a>
        <br />
        Fax: +49 (0)40 35 67 61 52 <br />
        Telefon: +49 (0)172 86 58 588 (telefoniert eher ungern) <br />
    </p>
    <p>
        USt-IdNr: DE243037244 <br />
        Inhaltlich verantwortlich nach § 55 Abs. 2 RStV: Uwe Lübbermann
    </p>
    <p>
        Bio-zertifiziert für Bier und Limonaden, Öko-Kontrollstelle DE-ÖKO-006 via
        <a href="http://www.abcert.de" target="_blank">ABCERT</a>.
    </p>
    <p>
        Map data ©
        <a target="_blank" href="https://openstreetmap.org">OpenStreetMap</a>
        contributors
        <a target="_blank" href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>
        <br />
        <a target="_blank" title="A JS library for interactive maps" href="https://leafletjs.com">Leaflet</a>
        A JS library for interactive maps
    </p>
</div>