<IfModule mod_rewrite.c>
  RewriteEngine On
 
  RewriteRule ^(.well-known)($|/) - [L]

  #RewriteCond %{HTTPS} !=on
  #RewriteCond %{ENV:HTTPS} !=on
  #RewriteRule .* http://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On

    # Cache hashed angular assets (js, css and fonts for now)
    # nearly indefinetly
    <filesMatch "\.[a-z0-9]+\.(bundle\.)?(js|css|ttf|woff2|eot|svg|woff)$">
        ExpiresDefault "access 2 years"
    </filesMatch>
</IfModule>
